/* Reset y estilos generales */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar scroll horizontal */
  background: linear-gradient(
    135deg,
    #004080,
    #ff0000
  ); /* Gradiente azul y rojo */
}

/* Animación de fondo tipo olas */
@keyframes waveBackground {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Estilo del header */
header {
  background: rgba(0, 64, 128, 0.9); /* Azul Michelin con transparencia */
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

header .logo {
  width: 100px;
  margin-bottom: 1rem;
}

header h1 {
  font-size: 2rem;
  margin: 0;
  animation: fadeInDown 1s ease-in-out;
}

/* Contenido principal */
main {
  padding: 6rem 2rem 2rem; /* Ajuste del padding para evitar superposiciones */
  max-width: 800px;
  margin: 0 auto;
}

section {
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile {
  float: left;
  margin-right: 1.5rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #ffcc00; /* Amarillo Michelin */
  font-size: 1.75rem;
  margin-bottom: 1rem;
  animation: fadeInLeft 1s ease-in-out;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  color: #666;
  animation: fadeIn 1s ease-in-out;
}

/* Footer dinámico */
footer {
  background: rgba(0, 64, 128, 0.9); /* Azul Michelin con transparencia */
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: -60px; /* Inicialmente fuera de la vista */
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s;
}

footer.show {
  bottom: 0; /* Mostrar footer cuando se desplace hacia abajo */
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Aplicar animación de fondo */
body {
  animation: waveBackground 10s ease-in-out infinite;
}
